  body {
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: black;
            margin: 0;
        }
        .bulb {
            width: 100px;
            height: 100px;
            background-color: white;
            border-radius: 50%;
        }
        .button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: green;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        h1 {
            color: white;
            font-family: Arial, sans-serif;
            margin-bottom: 20px;
        }
@media (max-width: 600px) {
            h1{
                font-size: 1.8em;
                margin-left: 30px;
            }
        }
